<h1>Hola</h1>
<p>the square of <%=@value%> is <%= @square%></p>
<br/>
<%= link_to "Change page", action: 'hello', controller:'greetings'%>
<br/>
<%=image_tag 'paisaje.jpg', style: 'height:40%;width:40%;'%>
<br/>