<h1>el usuario <%= current_user.id %> sera eliminado </h1>
<p>¿estas seguro?</p></br>
<ul>
    <li><a href="/eliminada"> si </a></li>
    <li><%=link_to 'no',  welcome_path, method: :get%></li>
</ul>
