<nav>
    <ul>
      <li><a class="/welcome" href="/welcome">Home</a></li>
      <li><a href="/restauran">Restaurants</a></li>
      <li><a href="/comunas">Comunas</a></li>
      <li><a href="/coments">Comentarios</a></li>
      <%if current_user.tipo != "Dueño"%>
        <li><a href="/gustos">Gustos</a></li>
      <%end%>
      <%if current_user.tipo != "Dueño"%>
        <li><a href="/meetings">Citas</a></li>
      <%end%>
      <%if current_user.tipo == "Administrador"%>
        <li><a href="/chao">Usuarios</a></li>
      <%end%>
      <li class="alignright"><a href="/cuenta/gustos">Mi cuenta</a>
        <ul>
          <li><a><%=link_to 'Cerrar session', destroy_user_session_path, method: :delete%>
          </a></li>
          
          <li><a href="/confirmacion/<%=current_user.id%>"> Eliminar cuenta</a></li>
          
        </ul>
      </li>
    </ul>
  </nav>